*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #fff;
	font-family: monospace;
}

html{
	scroll-behavior: smooth;
}

body{
	height: 100vh;
	background-color: #000;
	/* overflow: hidden;  (Hide scrollbars) */
}







/* formatação de parágrafos */
.texto00{
	color: #999;
}
.texto01{
	color: #35fc03;
}
.texto02{
	color: #ff0;
	text-decoration: underline;
}
/* formatação de divs */
.div00{
	border: 1px, solid, #a300c8;
	padding: 20px;
	margin: 20px;
}







/* Imagens */
.img01{
	margin-right: 8px;
	padding: 0px;
	width: 100px;}
